


.player{
display: flex;

}


.progress{

}

.progress__bar{
    padding-left: 80px;
}

.player input{
    padding-left: 80px;
    border: none;
    height: 1px;
    width: 887px;
}

.player__control button{
    background-color: transparent;
    border: none;
    color: #ffff;
}

.progress-bar{
    height: 2px;
    width: 887px;
    background: #ffffff;
    border:none;
    margin-top: 8px;
    position: relative;
    cursor: pointer;

}