.about {
    width: 100%;
    padding: 6rem 4rem;
    background: #121215;
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    align-items: flex-start;
}

/* TEXT BLOCK */
.textBlock {
    flex: 1.2;
}

.titleRow {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.icon {
    width: 32px;
}

.title {
    font-size: clamp(28px, 3vw, 40px);
    font-weight: 700;
}

.text {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    font-size: 16px;
    line-height: 1.6;
    opacity: 0.9;
}

/* INFO CARDS */
.infoGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
    margin-top: 2rem;
}

.infoCard {
    background: #7a4cffd0;
    padding: 1rem 1.2rem;
    border-radius: 12px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

/* IMAGE */
.imageWrap {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image {
    width: 100%;
    max-width: 420px;
    border-radius: 20px;
    object-fit: cover;
}


/* ADAPTIVE */
@media (max-width: 1024px) {
    .about {
        padding: 4rem 2rem;
    }
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .imageWrap {
        margin-top: 2rem;
    }

    .infoGrid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .about {
        padding: 3rem 1.2rem;
    }

    .text {
        font-size: 15px;
    }
}